<div class="container">
    <h2>{{ title }}</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <div *ngFor="let field of formModel">
            <!-- Select fields -->
            <mat-form-field class="full-width" *ngIf="field.elementType === 'select'">
                <mat-label>{{ field.displayName }}</mat-label>
                <mat-select [formControlName]="field.fieldName">
                    <mat-option *ngFor="let option of field.options" [value]="option.value">
                        {{ option.text }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError(field.fieldName)">
                </mat-error>
            </mat-form-field>

            <!-- Input fields -->
            <mat-form-field class="full-width"
                *ngIf="field.elementType === 'input'">
                <mat-label>{{ field.displayName }}</mat-label>
                <!-- If condition to get specified input fields -->
                <input matInput [formControlName]="field.fieldName" [type]="field.inputType || 'text'">
                <mat-error *ngIf="hasError(field.fieldName)">
                    <span>{{ getFieldError(field.fieldName) }}</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width"  *ngIf="field.elementType === 'dateTimePicker'">
                <mat-label>{{ field.displayName }}</mat-label>
                <input matInput [ngxMatDatetimePicker]="picker" [formControlName]="field.fieldName">
                <!-- in this case you have to disable strict template 
                    checking explicitly, you can make use of the $any() template function:
                 -->
                <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
                <mat-error *ngIf="hasError(field.fieldName)">
                    <span>{{ getFieldError(field.fieldName) }}</span>
                </mat-error>
            </mat-form-field>

            <!-- Textarea fields -->
            <mat-form-field class="full-width" *ngIf="field.elementType === 'textarea'">
                <mat-label>{{ field.displayName }}</mat-label>
                <textarea matInput type="text" [formControlName]="field.fieldName"></textarea>
            </mat-form-field>

        </div>
        
        <div class="buttons">
            <button mat-raised-button (click)="onClose()">Close</button>
            <button
            mat-raised-button class="create" type="submit"
            color="primary" *ngIf="this.data.mode !== 'view'"
            [disabled]="disableButton"
            >
                {{ buttonName }}
            </button>
        </div>

        <!-- {{form.value | json}} -->

    </form>
</div>
