<mat-card>
    <div class="contact">
        <div class="image">
            <img src="">
        </div>
        <div class="info">
            <div class="name"></div>
            <div class="updatedOn"></div>
        </div>
        <div class="email"></div>
        <div class="summery">
            <div class="youOwe">
                You Owes: <span class="amount"></span>
            </div>
            <div class="oweYou">
                Owes You: <span class="amount"></span>
            </div>
        </div>
    </div>
</mat-card>