<div class="container">
    <div class="contact-data"  *ngIf="contact">
        <div class="general-info">
            <div class="image">
                <img src="assets/images/contact.png">
            </div>
            <div class="general-inner-container">
                <div class="fullname">{{ fullName }}</div>
                <div class="date">{{ contact.createdAt}}</div>
                <div class="email">{{ contact.email }}</div>
            </div>
        </div>
        
        
        <div class="transaction-info">
            <div class="youOwe">
                <span class="text">
                    You Owes: <span class="amount">{{ contact.youOwe | currency:'INR' }}</span>
                </span>
            </div>
            <div class="oweYou">
                <span class="text">
                    Owes You: <span class="amount">{{ contact.owesYou | currency:'INR' }}</span>
                </span>
            </div>
        </div>
        <div class="buttons">
            <button mat-fab style="background-color: #d87093;">
              <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="transactions">
        <!-- Hide contact name using property [hideContactName] = true -->
        <mm-transaction 
            *ngFor="let transaction of transactions; last as isLastIteration"
            [transaction]="transaction" 
            [isLast]="isLastIteration"
            [hideContactName]= "true"
        ></mm-transaction>
    </div>
</div>