<app-layout>
    <form ngForm #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <mat-form-field class="fullWidth">
            <input matInput ngModel #userName="ngModel" type="text" minlength="6" required
                name="userName" placeholder="Username">
        </mat-form-field> 
        <div *ngIf="userName.touched">
            <mat-error *ngIf="userName.hasError('required')">
                Username is required.
            </mat-error>
            <mat-error *ngIf="userName.hasError('minlength')">
                Username is must have atleast 6 charecters.
            </mat-error>
        </div>
        <mat-form-field class="fullWidth">
            <input matInput ngModel #email="ngModel" type="text" email required
                name="email" placeholder="Email">
        </mat-form-field> 
        <div *ngIf="email.touched">
            <mat-error *ngIf="email.hasError('required')">
                Email is required.
            </mat-error>
            <mat-error *ngIf="email.hasError('email')">
                Please enter a valid email.
            </mat-error>
        </div>
        <mat-form-field class="fullWidth">
            <input matInput name="password" type="password" ngModel #password="ngModel" required
            placeholder="Password">
        </mat-form-field>
        <div *ngIf="password.touched">
            <mat-error *ngIf="password.hasError('required')">
                Password is required.
            </mat-error>
        </div>
        <p class="sign-up">
            Already have an account? <a class="link" routerLink="/login">Login</a>
        </p>
        <button mat-raised-button color="primary">Login</button>
    </form>
</app-layout>
