@import '../../../../../color';

.container {
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #3f51b5;
    
    .contact-info {
        width: 25%;
        .name {
            font-size: 16px;
            font-weight: 500;
        }
        .transaction-type {
            font-size: 16px;
            color: gray;
        }
    }

    .transaction-details {
        width: 30%;
        margin-left: auto;
        .notes {
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .inner-desc {
            display: flex;
            .dateAndTime {
                color: gray;
                flex-shrink: 0;
            }
            .desc {
                margin-left: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
            }
        }
    }

    .transaction-amount {
        width: 20%;
        margin-left: auto;
        margin-right: 32px;
        text-align: right;
        font-weight: 500;
        color: #3f51b5;
    }

    &.is-owed {
        .transaction-amount {
            color: $pink;
        }
    }

    &.hide_name {
        .contact-info {
            width: 10%;
        }
        .transaction-details {
            width: 55%;
        }
    }

}