@import '../../../../color';
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        margin: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 26px;
        border-bottom: 1px solid $primary-color;
        h1 {
            margin: 0;
            color: $primary-color;
        }
    }
    .user-data {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 26px;
        padding-bottom: 16px;
        border-bottom: 2px solid $primary-color;
        .general-info {
            display: flex;
            align-items: center;
            .image {
                margin-right: 16px;
                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }
            }
            .general-inner-container {

                .fullname {
                    font-size: 18px;
                    font-weight: 500;
                }
                .email {
                    font-size: 16px;
                    color: $gray;
                }
            }
        }

        .transaction-info {
            margin-left: auto;
            margin-right: 16px;
            
            .youOwe {
                .amount {
                    color: $pink;
                }
            }

            .oweYou {
                .amount {
                    color: $primary-color;
                }
            }
        }

        .buttons {
            margin-left: auto;
            margin-right: 16px;
        }
    }
}